body{
    background-image: url('../img/CvmdFz-264277234.jpg');
    font-size: 1.7em;
}
a:link,
a:visited{
    color: rgb(255, 255, 255);
}
.header {
    padding: 2px;
    text-align: center;
    background-image: url('../img/header-vector.jpg');
    color: rgb(0, 0, 0);
    font-size: 20px;
    box-shadow: 15px 15px 10px rgb(0, 0, 0);
  }